{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title%} 

    {% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "assets/img/favicon.png" %}" rel="icon">
  <link href="{% static "assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon" >

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "assets/vendor/aos/aos.css" %}" rel="stylesheet" >
  <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" >
  <link href="{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet" >
  <link href="{% static "assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet" >
  <link href="{% static "assets/vendor/glightbox/css/glightbox.min.css"  %}" rel="stylesheet">
  <link href="{% static "assets/vendor/remixicon/remixicon.css" %}" rel="stylesheet" >
  <link href="{% static "assets/vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet" ">

  <!-- Template Main CSS File -->
  <link href="{% static "assets/css/style.css" %}" rel="stylesheet" >
 
  {% comment %} imported css  {% endcomment %}

  {% block style %} 

  {% endblock style %}

  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1><a href="/">SecureBuy</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto active" href="/purchase/">Purchase</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>
          <li><a class="nav-link scrollto" href="/checkout/">checkout</a></li>
          <li><a class="nav-link scrollto" href="/tracker/">Tracker</a></li>
    
          
          
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="/arkauth/logout/">Logout</a></li>

          <button type="button" class="btn btn-success btn-sm" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">


  Cart(<span id="cart">0</span>)
</button>
          <li><a class="nav-link scrollto" href="/arkauth/logout/">Welcome --{{user.username}}</a></li>
          {% else %}
          <li><a class="nav-link scrollto" href="/arkauth/login/">Login</a></li>
          {% endif %}
            
          
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  

  <main id="main">

    {% block body %}

    {% endblock body %}    
   

  </main><!-- End #main -->

  <br>
  <br>
  <br>
  <br>
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "assets/vendor/purecounter/purecounter_vanilla.js" %}"></script>
  <script src="{% static "assets/vendor/aos/aos.js" %}"></script>
  <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "assets/vendor/glightbox/js/glightbox.min.js" %}"></script>
  <script src="{% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "assets/vendor/swiper/swiper-bundle.min.js" %}"></script>
  <script src="{% static "assets/vendor/php-email-form/validate.js" %}"></script>

  
  {% block script %}
    
  {% endblock script %}
    
  
  {% comment %} including footer file  {% endcomment %}
{% include 'footer.html' %}
    

  <!-- Template Main JS File -->
  <script src="{% static "assets/js/main.js" %}"></script>

</body>

</html>
</html>